body { user-select:none; }
#game { position:absolute; left:0; top:0; width:100%; height:100%; overflow:hidden; z-index:1}
#headimage { position:absolute; left:0; top:0; width:150%; height:30%; margin:0 -25%; z-index:-1}
#player { position:absolute; left:50%; margin-left:-22px; width:44px; top:30%; }
#objects { position:absolute; left:0; top:0; }
#objects img { position:absolute; }
#scoreHolder { position:absolute; left:10px; top:10px; }

.popup { position:absolute; background:#ccc; border:#0c0 5px solid; border-radius:20px; padding:20px; text-align:center; z-index:100; }
.charc { display:inline-block; text-align:center; margin:5px; }
.charc img { display:block; }