.row { display:table; width:100%; }
.row > div { display:table-row; }
.row > div > div { display:table-cell; vertical-align:middle; }
.image_cell { width:249px; padding-right:20px; }
.image_cell img { padding:20px; background:#fff; border:#999 1px solid; }
img { max-width:100%; }
.center { text-align:center; }

@media (max-width: 500px) {
	.row, .row > div, .row > div > div { display:block; }
	.image_cell { width:auto; text-align:center; padding:20px 0 0; }
	.image_cell img { padding:3%; max-width:94%; }
}